.banner{
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../../images/bannière.jpg);
	color: white;
	padding: 120px 0px;
		}

.banner h1{opacity: 0.8
			color: #F6E6D1}
.banner h2{color: beige;}