.btn-1{background-color: #F6E6D1;
	border-radius: 5px ;
	padding: 10px 10px
 color: #F6E6D1;}

 .btn-2{background-color: #F6E6D1;
	border-radius: 5px ;
	padding: 10px 10px
 color: #F6E6D1;}

 .btn-3{background-color: #F6E6D1;
	border-radius: 5px ;
	padding: 10px 10px
 color: #F6E6D1;}

 .btn-4{background-color: #F6E6D1;
	border-radius: 5px ;
	padding: 10px 10px
 color: #F6E6D1;}